* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body, input, button {
    font-size: 17px;
    font-family:"JBreak",sans-serif;
    background-color: rgb(45, 65, 165);

    -webkit-font-smoothing: antialiased;
}




