.card {
    height: 60px;
    width:40%;    
    background: #625bf2;
    color:#fff;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: justify;
    justify-content: space-between;
    padding: 20px;    
}

.card strong {
    font-size: 15px;
}